.header {
  position: fixed;
  padding-top: 20%;
  
}

.presentacion3d {

  display: none;
}



.presentacion3dMobile {

  position: relative;
  height: 30vh;
  padding-top: 15px;
  padding-bottom: 15px;
  

}