@media screen and (min-width:762px) {



    
    .texto{
            position: absolute;
    }  
    
    
        .img{
            position: relative
    }  



.presentacion3dMobile {

    display: none;
  }
  
  .presentacion3d {
    display: block;
    height: 50vh;
    position: relative;
    box-sizing: border-box;
    
  
  }
}

h1 {

  display: none;
}
