.navbar-text{
    font-family: 'Lato', sans-serif;;
    font-weight: 900;
    
}

.navbar {
    background-color: #f7f5f5f3;
    border-color: #ffffffe5;
    box-sizing: 100%;

}

.nav-item {
    
    text-decoration: greenyellow;
    color: rgb(50, 230, 26);
    font-size: 2rem;
    padding-top: 30px;
    padding-left: 30px;

}


.navbar-light {
    
    color: rgb(209, 197, 197)!important;
    font-size: 1.7rem;

}
