

.titulo, .trabajos {
    font-weight: 900;
    font-size: 3.5rem;
}

.saludo, .presentacion, .lead, .form-group, .servicio, .contacto, .clientes{
    font-weight: 700;
}

.detalle{
    font-weight: 300;
}
